@media all and (max-width: 600px) {

    .left-to-right button {
        display: none;
    }

    .left-to-right {
        padding: 50px;
    }

    section.left-to-right article {
        width: 90%;
        height: auto;
        border-radius: 10%;
        padding: 20px;
    }

    main section:nth-of-type(2) {
        flex-direction: column;
        padding: 0 44px;
    }

    main section:nth-of-type(2) button {
        display: none;
    }

    main section:nth-of-type(4) {
        flex-direction: column;
        padding: 0 44px;
    }

    main section:nth-of-type(4) form {
        width: 100%;
    }

    main section:nth-of-type(4) form label > *:not([type=submit]) {
        width: 100%;
    }

    main section:nth-of-type(4) form label:last-child {
        display: flex;
        justify-content: center;
    }
}