* {
    box-sizing: border-box;
}

.month {
    background: linear-gradient(rgb(250, 212, 82), rgb(249, 117, 1));
    width: 700px;
    margin: 0 auto;
    padding: 5px;
}

.week {
    display: flex;
    height: 110px;
    
    /* border: 1px solid black; */
}

.day {
    flex: 1 1 0;
    background-color: rgb(254, 227, 196);
    color: rgb(249, 117, 1);
    font-size:18px ;
    margin: 1px;
    padding: 5px ;
}

.week:first-of-type .day:first-of-type {
    margin-left: 42.857%;
}

.week:last-of-type .day:last-of-type {
    margin-right: 14.2857%;
}