body {
    background-color: #EEE;
    padding: 5rem;
    display: flex;
    flex-wrap: wrap;

}

header, main, aside, footer {
    border: 1px solid black;
    border-radius: 0.4rem;
    box-shadow: 0px 0px 3px black;;
    background-color: #FFF;
    margin: 0.4rem;
    padding: 2rem;
}

main, aside {
    height: 10rem;
}

main {
    flex: 8 1 40rem;
}

aside {
    flex: 2 1 20rem;
}

header {
    height: 5rem;
    flex-basis: 100%;
}

footer {
    height: 3rem;
    flex-basis: 100%;
}