
html {
    font-family: Helvetica, sans-serif;
}

body {
    margin-left: 10%;
    margin-right: 10%;
}

header {
    border-bottom: 2px solid black;
}

header h1 {
    display: inline-block;
    padding-right: 10%;

}

header nav, li {
    display: inline-block;
    padding-right: 3vw;
}

header nav li a {
    text-decoration: none;
    color: green;

}