

html {
    font-family: Helvetica, sans-serif;
    line-height: 1.5;
}

*,
* ::before,
* ::after {
    box-sizing: border-box;
}

h1,h2,h3,h4,h5,h6 {
    font-family: Georgia, serif;
    line-height: 1.2;
}

body {
    margin: 0;
    display: flex;
    justify-content: center;
}

section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 70vw;
}

article {
    flex-basis: 20%;
}

